<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Familiares:</h1>
    <p style="color:blue">Nombre: {{ nombre_familia1 }} Apellido: {{ apellido_familia1 }} DNI: {{ dni_familia1 }} Fecha de nacimiento: {{ fecha_nacimiento_familia1 }}</p>
    <p style="color:red">Nombre: {{ nombre_familia2 }} Apellido: {{ apellido_familia2 }} DNI: {{ dni_familia2 }} Fecha de nacimiento: {{ fecha_nacimiento_familia2 }}</p>
    <p style="color: yellow">Nombre: {{ nombre_familia3 }} Apellido: {{ apellido_familia3 }} DNI: {{ dni_familia3 }} Fecha de nacimiento: {{ fecha_nacimiento_familia3 }}</p>
    
</body>
</html